body
{
    font-size: 14px;
}

@font-face
{
    font-family: Tahoma;

    src: url('fonts/Tahoma.ttf');
}

.main-wrapper
{
    width: 1280px;
    min-height: 1060px;
    margin: 0 auto;

    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
}

.wrapper
{
    width: 1000px;
    min-height: 1029px;
    margin: 0 auto;

    background-color: #fff;
    box-shadow:
     1px 0 7px 3px #09576f,
    -1px 0 7px 3px #09576f,
     0 3px rgb(0,0,0);

}

.wrapper .google_head
{
    margin-left: -140px;
}

.header:after
{
    display: table;
    clear: both;

    content: '';
}

.logo
{
    float: left;

    margin-top: 10px;
    margin-left: 29px;
}

.logo p
{
    font-size: 12px;

    margin-top: -63px;
    margin-left: 75px;

    color: #329ab3;
}

.contacts
{
    float: right;

    margin-top: 13px;
    margin-right: 33px;
}

.contacts p
{
    color: #329ab3;
}

.contacts p:nth-child(1)
{
    margin-bottom: 5px;
}

.top-menu
{
    float: right;

    margin-top: 105px;
    margin-right: -145px;
}

.top-menu li
{
    display: inline-block;

    margin-bottom: 14px;
}

.top-menu img
{
    margin-right: 9px;
}

.top-menu a
{
    font-size: 10px;

    color: #329ab3;
}

.top-menu p
{
    margin-left: 9px;
}

.top-menu-item
{
    position: relative;
    right: 7px;
}

.beach-img
{
    border-top: 2px solid #128aa7;
    border-bottom: 2px solid #138aa7;
}

.main-menu
{
    height: 30px;

    background-color: #303030;
}

.main-menu
{
    box-shadow: 0 5px 5px #808080;
}

.main-menu li
{
    position: relative;

    display: inline-block;

    margin-top: 7px;
    margin-left: 65px;

    vertical-align: middle;
}

.main-menu a
{
    text-decoration: none;

    color: #fff;
}

.main-menu .menu li
{
    position: relative;
}

.main-menu .menu-drop
{
    position: absolute;
    top: 23px;
    left: -14px;

    display: none;

    width: 130px;
    margin: 0;

    background: #303030;
    box-shadow: 0 5px 5px #808080;
}

.main-menu .menu-drop li
{
    line-height: 20px;

    margin: 0;
    margin-left: 11px;
}

.main-menu .menu li:hover .menu-drop
{
    display: block;
}

.drop_list_1,
.drop_list_2,
.drop_list_3,
{
    width: 50px;
}

.drop_list_1:before 
{
    content: '';
    display: table;
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url('../img/triangles.png');
    background-repeat: no-repeat;
    margin-left: 77px;
    margin-top: 4px;    
}

.drop_list_2:before 
{
    content: '';
    display: table;
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url('../img/triangles.png');
    background-repeat: no-repeat;
    margin-left: 43px;
    margin-top: 4px;    
}

.drop_list_3:before 
{
    content: '';
    display: table;
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url('../img/triangles.png');
    background-repeat: no-repeat;
    margin-left: 63px;
    margin-top: 4px;    
}

.content:after
{
    display: table;
    clear: both;

    content: '';
}

.left-column
{
    line-height: 23px;

    z-index: -1;

    float: left;

    width: 190px;
    height: 544px;
    padding-left: 17px;

    background-color: #edeef0;
}

.left-column h3
{
    font-size: 18px;

    text-align: center;
}

.right-column
{
    line-height: 23px;

    float: right;

    width: 190px;
    height: 544px;
    padding-left: 17px;

    background-color: #edeef0;
}

.right-column h3
{
    font-size: 18px;

    text-align: center;
}

.footer p
{
    margin-top: 8px;

    text-align: center;
}


